<!-- add Item -->
<div class=" container">
    <form class="add-product" #myProductForm=ngForm>
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group " [ngClass]="{'invalid':textinput.invalid&&textinput.touched}">



                                <label for="">Name</label>

                                <input #textinput='ngModel' #inputname ngModel required class="form-control" type="text"
                                    name="username" id="">

                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea required class="form-control" name="des" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group invalid">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group" [ngClass]="{'invalid':textinput2.invalid&&textinput2.touched}">
                    <label for="">Price</label>
                    <input #textinput2='ngModel' ngModel required class="form-control" type="number" name="price" id="">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input (click)=tell() type="radio" name='radio' value="1"
                                    #isonsale=ngModel ngModel><span>On Sale</span></div>
                            <div class="form-group__radio"><input type="radio" name="radio" value="0" #isonsale=ngModel
                                    ngModel><span>Not On
                                    Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" [style.color]="isonsale.value==0?'red':'blue'">Discount</label>
                        <input class="form-control" type="text" name="" id="" [disabled]="isonsale.value==0"> </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div class="form-group__checkboxs">
                        <!-- <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Direct Bank
                                Transfare</span></div>
                        <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Cheque Payment</span></div>
                        <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Paypal</span></div>
                        <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Visa</span></div>
                        <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Mastercard</span></div> -->
                        <div *ngFor='let method of methods ;let i = index' class="form-group__checkbox">
                            <input type="checkbox" [name]='method.name' (click)=checkme(i,method.name)>
                            <span>{{method.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" name="" id="">
                        <option *ngFor='let category of cat ' [value]="category.id">{{category.name}}</option>
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div class="taged-textbox__tag"><span>tag1</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag2</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag3</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag4</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag5</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag6</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag7</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag8</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag9</span><a href="#"
                                    class="taged-textbox__remove"><i class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag10</span><a class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input class="taged-textbox__textbox form-control" type="text" name="" id="">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button href="#" class="btn btn--primary" (click)='onSubmit(myProductForm)'
                        [disabled]='!myProductForm.valid'>Add</button>
                </div>
            </div>
        </div>
    </form>
</div>