<!-- header -->
<div class="header">
  <app-topnav></app-topnav>
  <app-navbar></app-navbar>
</div>
<router-outlet>
  
</router-outlet> 
 <!-- <div class="header">
  <app-topnav></app-topnav>
  <app-navbar></app-navbar>
</div> -->
 <!-- <router-outlet>
<app-product-list-container (onItemAddedFromContainer)="onItemAdd($event)"></app-product-list-container> 
 
</router-outlet> !-->
<!-- <router-outlet>
  
</router-outlet>  -->
<!-- <app-product-list-container (onItemAddedFromContainer)="onItemAdd($event)"></app-product-list-container> -->
<!-- <app-productdescription></app-productdescription> -->