.action-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $color-primary;
    color : $white;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 0 .5rem;
}