.counter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header
    {
        font-size: 5rem;
        font-weight: 700;
        color:$color-primary;
    }
    &__data
    {
        font-size: 2rem;
        font-weight: 100;
        color:$gray-900;
    }
}