 <!-- upper header -->
 <div class="header__upper">
   <!-- container -->
   <div class="container">
     <!-- contact info -->
     <ul class="list list--hr list--hr-separator">
       <li class="list__item">
         <span class="info">
           <!-- icon -->
           <i class="info__icon far fa-dot-circle"></i>
           <!-- info -->
           <span class="info__data">1234 Street Name, City Name</span>
         </span>
       </li>
       <li class="list__item">
         <a href="#" class="info">
           <!-- icon -->
           <i class="info__icon fab fa-whatsapp"></i>
           <!-- info -->
           <span class="info__data">123-456-7890</span>
         </a>
       </li>
       <li class="list__item">
         <a href="#" class="info">
           <!-- icon -->
           <i class="info__icon far fa-envelope"></i>
           <!-- info -->
           <span class="info__data">mail@domain.com</span>
         </a>
       </li>
     </ul>
     <!-- side menu -->
     <ul class="list list--hr">
       <li class="list__item">
         <a href="#" class="link">
           <!-- icon -->
           <i class="link__icon fas fa-angle-right"></i>
           <!-- info -->
           About Us
         </a>
       </li>
       <li class="list__item">
         <a href="#" class="link">
           <!-- icon -->
           <i class="link__icon fas fa-angle-right"></i>
           <!-- info -->
           Contact Us
         </a>
       </li>
       <!-- languges -->
       <li class="list__item">
         <!-- drop down -->
         <!-- to oppen dropdown dropdown--opened -->
         <app-drop-down>
           <ng-container class="header">
             <a href="#" class="link">
               <img class="flag flag-us" src="" alt="">
               English
             </a>
             <i class="fas fa-angle-down"></i>
           </ng-container>

           <ng-container class="body">
             <ul class="dropdown__items list">
               <li class="dropdown__item list__item">
                 <a href="#" class="link">
                   <img class="flag flag-us" src="" alt="">
                   English
                 </a>
               </li>
               <li class="dropdown__item list__item">
                 <a href="#" class="link">
                   <img class="flag flag-es" src="" alt="">
                   Español
                 </a>
               </li>
               <li class="dropdown__item list__item">
                 <a href="#" class="link">
                   <img class="flag flag-fr" src="" alt="">
                   Française
                 </a>
               </li>
             </ul>
           </ng-container>
         </app-drop-down>
       </li>
     </ul>
   </div>
 </div>
