  <div class="item-medium-1__alert" *ngIf="productItem.discount">Sale</div>
  <!-- Property Binding [style], [class], [innerHtml], ....... -->
  <div class="item-medium-1__image image" [style]="'background-image: url('+ productItem.imagesUrls+')'">
    <a (click)="onAddToCartPressed()" class="item-medium-1__action" [innerHtml]="'Add to Cart'"></a>
  </div>
  <a routerLink='/productInfo' (click)='getid()'>
    <!-- String Interpolation {{add variable}} -->
    <h4>{{productItem.data[0].name}}</h4>
    <div class="flex-row">
      <div>
        <del *ngIf="productItem.discount">{{productItem.price}}</del>
        <span
          class="lable">${{productItem.discount ? productItem.price - productItem.discount : productItem.price}}</span>
      </div>
    </div>
  </a>
  <div class="crud-actions">
    <a routerLink='/productInfo' (click)='getid()'><i class="far fa-eye"></i></a>

    <a href="#"><i class="fas fa-edit"></i></a>
    <a href="#"><i class="fas fa-trash-alt"></i></a>
  </div>