<!-- Listing Items -->
<div class="product-details container">
    <section class="product-details__main">
        <!-- images slider -->
        <div class="slider">
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url({{p!.imagesUrls[0]}})"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <!-- product info -->
        <div class="product-details__info">
            <h1>{{p!.data[0].name}}</h1>
            <div class="rating">
                <div class="rating__stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="rating__data">
                    2 reviews
                </div>
            </div>
            <div class="product-details__amount">
                {{p!.price}}
            </div>
            <p class="product-details__desc">
                {{p!.data[0].description}}
            </p>
            <div class="product-details__add">
                <div class="increment-control">
                    <a href="#" class="increment-control__action">-</a>
                    <input type="text" class="form-control" title="Qty" value="1">
                    <a href="#" class="increment-control__action">+</a>
                </div>
                <button (click)='add()' class="btn btn--primary">Add to cart</button>
            </div>
            <div class="product-details__meta">
                Categories: <a rel="tag" href="#">Accessories</a>, <a rel="tag" href="#">Bags</a>.
            </div>
        </div>
    </section>
    <section class="tabs">
        <div class="tabs__headers">
            <div class="tabs__header active">
                Description
            </div>
            <div class="tabs__header">
                Additional Information
            </div>
            <div class="tabs__header">
                Reviews (2)
            </div>
        </div>
        <div class="tabs__bodies">
            <div class="tabs__body active">
                <div class="product-details__desc">
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem
                        ipsum
                        dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit,
                        mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis
                        dapibus.
                    </p>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem
                        ipsum
                        dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit,
                        mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis
                        dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    </p>
                </div>
            </div>
            <div class="tabs__body ">
                tab2
            </div>
            <div class="tabs__body">
                tab3
            </div>
        </div>
    </section>
    <div class="separator"></div>
    <!-- related products -->
    <section class="realated-product">
        <h3>Related <strong>Products</strong></h3>
        <div class="item-listing__items item-listing--4items">
            <!-- medium item -->
            <div class="item-medium-1">
                <div class="item-medium-1__image image"
                    style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__image image"
                    style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__alert">Sale</div>
                <div class="item-medium-1__image image"
                    style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__alert">Sale</div>
                <div class="item-medium-1__image image"
                    style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- footer -->
<div class="footer">
    <!-- subscription -->
    <div></div>
    <!-- menu -->
    <div></div>
    <!-- contact info -->
    <div></div>
</div>